/*
Theme Name: MBNP Bootstrap Based
Description: This is not a child theme
Author: Łukasz Jasiński
*/

/******************************************************************************* 
 * 
 *           the style.css file is generated automaticaly.
 * 
 *      DO NOT CHANGE THAT FILE, ALL CHANGES WILL BE OVERWRITTEN
 * 
 *           Change ./less/style.less instead and recompile
 * 
 ******************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Marcellus&subset=latin,latin-ext);


/* =Theme variables
-------------------------------------------------------------- */

@darkGrad1: rgba(64,53,31,0.99); 
@darkGrad2: rgba(42,39,24,0.99);
@darkGrad1t: rgba(64,53,31, 0.5); 
@darkGrad2t: rgba(42,39,24, 0.5);

@bodyBg: #d7b84c;
@mainBg: #fff8ce;

@formbg: #221B10;
@formborder: #635745;
@formtext: #C1A972; 

@footerAccent: #D6B852;
@footerText: #C1A972;
@footerCopy: #6D6855;

@linkColor: #C63;

.darkGradient {
  background-color:@darkGrad2;
  background-image: linear-gradient(top, @darkGrad1 15%, @darkGrad2 58%);
  background-image: -o-linear-gradient(top, @darkGrad1 15%, @darkGrad2 58%);
  background-image: -moz-linear-gradient(top, @darkGrad1 15%, @darkGrad2 58%);
  background-image: -webkit-linear-gradient(top, @darkGrad1 15%, @darkGrad2 58%);
  background-image: -ms-linear-gradient(top, @darkGrad1 15%, @darkGrad2 58%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.15, @darkGrad1),
    color-stop(0.58, @darkGrad2)
  );
  color: #f0f0f0;   
}
.darkGradientTranslucent {
  background-color:@darkGrad2;
  background-color:@darkGrad2t;
  background-image: linear-gradient(top, @darkGrad1t 15%, @darkGrad2t 58%);
  background-image: -o-linear-gradient(top, @darkGrad1t 15%, @darkGrad2t 58%);
  background-image: -moz-linear-gradient(top, @darkGrad1t 15%, @darkGrad2t 58%);
  background-image: -webkit-linear-gradient(top, @darkGrad1t 15%, @darkGrad2t 58%);
  background-image: -ms-linear-gradient(top, @darkGrad1t 15%, @darkGrad2t 58%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.15, @darkGrad1t),
    color-stop(0.58, @darkGrad2t)
  );
  color: #f0f0f0;   
}

.transition(@time) {
  -webkit-transition: all @time linear;
     -moz-transition: all @time linear 0s;
       -o-transition: all @time linear;
      -ms-transition: all @time linear;
          transition: all @time linear;
}


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* =And the magic happens here
-------------------------------------------------------------- */

body {
  background-color: @bodyBg;
  background-image: url('assets/img/bg.png');
  background-position: center 80px;
  background-repeat: no-repeat;
  &.admin-bar {
    margin-top:120px;    
    #main-navigation {
      top:30px;   
    }
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Marcellus', serif;
  color: @linkColor - #555;
}
h1 {
  font-size:30px;
}
h2 {
  font-size:26px;
}
h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

a, a:link, a:visited {
  color: @linkColor;
}
a:hover {
  color: @linkColor - #444;
}


.center-block {
  margin: 0 auto;
  text-align:center;
}
.archive.category, .archive.date {
  article { 
    border-top: 1px solid #ccc;
    padding:15px;
    margin-right:20px;
    background-color:#fff8ce;
    .transition(1s);
    &:hover {
      background-color: white;
    }
    &:last-child {
      border-bottom: 1px solid #ccc;
    }
    
    .archive-thumbnail {
      position:relative;
      
      .thumbnail-back {
        background-color: #7C6544;
        position: absolute;
        top: 7px;
        left: 22px;
        width: 150px;
        height: 150px;
        z-index: 2;
      }
      
      .img {
        position: relative;
        z-index: 3;
        width: 150px!important;
        height: 150px!important;
      }
    }    
  }
  .pagination li .page-numbers {
    background-color: @mainBg;
    border: 1px solid @linkColor;
    .transition(0.3s);
    &:hover {
        background-color:white;
    }
    &.current, &.current:hover {
      background-color:@linkColor;
      color:white;
    }
  }
}
#main-container > .row {
  background-color: @mainBg;
  padding: 15px 0;
  .archive-title, .article-title {
    
  }
}
#main-navigation {
  .darkGradient;
  position:fixed;
  top:0;
  width:100%;
  &.affix {
    width:100%;
    opacity:0.7;
    .transition(0.5s);
    &.affix:hover {
      opacity:1;  
    }
    .navbar-brand {
      height:0!important;
      overflow:hidden;
      padding:0;
    }
    .collapse {
      margin-top:-50px;
    }
  }
  .dropdown-menu {
    background-color: @darkGrad1;
    a, a:link, a:visited {
      color: #999999;
    }
    a:hover {
      background-color: @darkGrad2;
      color:#f0f0f0;
    }
  }
}
aside.sidebar {
  padding:1em;
  & > img {
    width:100%;
    height:auto;
  }
  .widget-title {
    color:@footerAccent;
    font-size: 1.5em;
    text-align:center;
  }
}
article {
  padding:20px;
}

blockquote {
  display:inline-block;

  border: none;
  border-top: 1px solid #D9D3AB;
  border-bottom: 1px solid #D9D3AB;
  padding:0.3em;
    
  font-size:1.6em;
  line-height:1.2em;
  font-style: italic;
  text-align: right;
  
  color: #6F6140;
}
.homepage {
  & > div {
    margin: 2em;
  }
  #home-quote {
    text-align:right;
    position:relative;
    margin-right:2em;
    margin-left:auto;    
  }
  #home-photo {
    clear:both;
    
    img {
      width:100%;
      height:auto;
    }
  }
  p {
    text-align:center;
    font-size:1.1em;
  }
  .carousel-caption {
    background-color: #666;
    background-color: rgba(0,0,0, 0.4);
    width:100%;
    left:0;
    bottom:0;
  }
  .carousel-indicators {
    top:0;
    height:10px;
  }
}
#main-footer {
  .darkGradient;
  color: @footerText;
  
  input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea {
    border: 1px solid @formborder;
    background-color: @formbg;
    color: @formtext; 
  }
  aside {
    margin:2em;
  }
  h2 {
    text-align:center;
    font-weight:bold;
    color:@footerAccent;
  }
  h3 {
    color:@footerAccent;
  }
  a, a:link, a:visited {
    color:@footerAccent;
    text-decoration:none;
  }
  a:hover {
    color:@footerAccent+#606060;
  }
  .copy {
    color:@footerCopy;
    font-size:0.85em;
    padding-top:1.5em;
    border-top:1px solid @formborder;
    text-align:center;
  }
}
