/*
Theme Name: MBNP Bootstrap Based
Description: This is not a child theme
Author: Łukasz Jasiński
*/
/******************************************************************************* 
 * 
 *           the style.css file is generated automaticaly.
 * 
 *      DO NOT CHANGE THAT FILE, ALL CHANGES WILL BE OVERWRITTEN
 * 
 *           Change ./less/style.less instead and recompile
 * 
 ******************************************************************************/
/* =Theme variables
-------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Marcellus&subset=latin,latin-ext);
/* =WordPress Core
-------------------------------------------------------------- */
/* =And the magic happens here
-------------------------------------------------------------- */
.darkGradient {
  background-color: rgba(42,39,24,0.99);
  background-image: linear-gradient(top,rgba(64,53,31,0.99) 15%,rgba(42,39,24,0.99) 58%);
  background-image: -o-linear-gradient(top,rgba(64,53,31,0.99) 15%,rgba(42,39,24,0.99) 58%);
  background-image: -moz-linear-gradient(top,rgba(64,53,31,0.99) 15%,rgba(42,39,24,0.99) 58%);
  background-image: -webkit-linear-gradient(top,rgba(64,53,31,0.99) 15%,rgba(42,39,24,0.99) 58%);
  background-image: -ms-linear-gradient(top,rgba(64,53,31,0.99) 15%,rgba(42,39,24,0.99) 58%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.15,rgba(64,53,31,0.99)),color-stop(0.58,rgba(42,39,24,0.99)));
  color: #f0f0f0;
}
.darkGradientTranslucent {
  background-color: rgba(42,39,24,0.99);
  background-color: rgba(42,39,24,0.5);
  background-image: linear-gradient(top,rgba(64,53,31,0.5) 15%,rgba(42,39,24,0.5) 58%);
  background-image: -o-linear-gradient(top,rgba(64,53,31,0.5) 15%,rgba(42,39,24,0.5) 58%);
  background-image: -moz-linear-gradient(top,rgba(64,53,31,0.5) 15%,rgba(42,39,24,0.5) 58%);
  background-image: -webkit-linear-gradient(top,rgba(64,53,31,0.5) 15%,rgba(42,39,24,0.5) 58%);
  background-image: -ms-linear-gradient(top,rgba(64,53,31,0.5) 15%,rgba(42,39,24,0.5) 58%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.15,rgba(64,53,31,0.5)),color-stop(0.58,rgba(42,39,24,0.5)));
  color: #f0f0f0;
}
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  /* Image does not overflow the content area */
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
body {
  background-color: #d7b84c;
  background-image: url('assets/img/bg.png');
  background-position: center 80px;
  background-repeat: no-repeat;
}
body.admin-bar {
  margin-top: 120px;
}
body.admin-bar #main-navigation {
  top: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Marcellus', serif;
  color: #771100;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
a,
a:link,
a:visited {
  color: #C63;
}
a:hover {
  color: #882200;
}
.center-block {
  margin: 0 auto;
  text-align: center;
}
.archive.category article,
.archive.date article {
  border-top: 1px solid #ccc;
  padding: 15px;
  margin-right: 20px;
  background-color: #fff8ce;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear 0s;
  -o-transition: all 1s linear;
  -ms-transition: all 1s linear;
  transition: all 1s linear;
}
.archive.category article:hover,
.archive.date article:hover {
  background-color: white;
}
.archive.category article:last-child,
.archive.date article:last-child {
  border-bottom: 1px solid #ccc;
}
.archive.category article .archive-thumbnail,
.archive.date article .archive-thumbnail {
  position: relative;
}
.archive.category article .archive-thumbnail .thumbnail-back,
.archive.date article .archive-thumbnail .thumbnail-back {
  background-color: #7C6544;
  position: absolute;
  top: 7px;
  left: 22px;
  width: 150px;
  height: 150px;
  z-index: 2;
}
.archive.category article .archive-thumbnail .img,
.archive.date article .archive-thumbnail .img {
  position: relative;
  z-index: 3;
  width: 150px !important;
  height: 150px !important;
}
.archive.category .pagination li .page-numbers,
.archive.date .pagination li .page-numbers {
  background-color: #fff8ce;
  border: 1px solid #C63;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.archive.category .pagination li .page-numbers:hover,
.archive.date .pagination li .page-numbers:hover {
  background-color: white;
}
.archive.category .pagination li .page-numbers.current,
.archive.category .pagination li .page-numbers.current:hover,
.archive.date .pagination li .page-numbers.current,
.archive.date .pagination li .page-numbers.current:hover {
  background-color: #C63;
  color: white;
}
#main-container > .row {
  background-color: #fff8ce;
  padding: 15px 0;
}
#main-navigation {
  background-color: rgba(42,39,24,0.99);
  background-image: linear-gradient(top,rgba(64,53,31,0.99) 15%,rgba(42,39,24,0.99) 58%);
  background-image: -o-linear-gradient(top,rgba(64,53,31,0.99) 15%,rgba(42,39,24,0.99) 58%);
  background-image: -moz-linear-gradient(top,rgba(64,53,31,0.99) 15%,rgba(42,39,24,0.99) 58%);
  background-image: -webkit-linear-gradient(top,rgba(64,53,31,0.99) 15%,rgba(42,39,24,0.99) 58%);
  background-image: -ms-linear-gradient(top,rgba(64,53,31,0.99) 15%,rgba(42,39,24,0.99) 58%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.15,rgba(64,53,31,0.99)),color-stop(0.58,rgba(42,39,24,0.99)));
  color: #f0f0f0;
  position: fixed;
  top: 0;
  width: 100%;
}
#main-navigation.affix {
  width: 100%;
  opacity: 0.7;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
#main-navigation.affix.affix:hover {
  opacity: 1;
}
#main-navigation.affix .navbar-brand {
  height: 0 !important;
  overflow: hidden;
  padding: 0;
}
#main-navigation.affix .collapse {
  margin-top: -50px;
}
#main-navigation .dropdown-menu {
  background-color: rgba(64,53,31,0.99);
}
#main-navigation .dropdown-menu a,
#main-navigation .dropdown-menu a:link,
#main-navigation .dropdown-menu a:visited {
  color: #999999;
}
#main-navigation .dropdown-menu a:hover {
  background-color: rgba(42,39,24,0.99);
  color: #f0f0f0;
}
aside.sidebar {
  padding: 1em;
}
aside.sidebar > img {
  width: 100%;
  height: auto;
}
aside.sidebar .widget-title {
  color: #D6B852;
  font-size: 1.5em;
  text-align: center;
}
article {
  padding: 20px;
}
blockquote {
  display: inline-block;
  border: none;
  border-top: 1px solid #D9D3AB;
  border-bottom: 1px solid #D9D3AB;
  padding: 0.3em;
  font-size: 1.6em;
  line-height: 1.2em;
  font-style: italic;
  text-align: right;
  color: #6F6140;
}
.homepage > div {
  margin: 2em;
}
.homepage #home-quote {
  text-align: right;
  position: relative;
  margin-right: 2em;
  margin-left: auto;
}
.homepage #home-photo {
  clear: both;
}
.homepage #home-photo img {
  width: 100%;
  height: auto;
}
.homepage p {
  text-align: center;
  font-size: 1.1em;
}
.homepage .carousel-caption {
  background-color: #666;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  left: 0;
  bottom: 0;
}
.homepage .carousel-indicators {
  top: 0;
  height: 10px;
}
#main-footer {
  background-color: rgba(42,39,24,0.99);
  background-image: linear-gradient(top,rgba(64,53,31,0.99) 15%,rgba(42,39,24,0.99) 58%);
  background-image: -o-linear-gradient(top,rgba(64,53,31,0.99) 15%,rgba(42,39,24,0.99) 58%);
  background-image: -moz-linear-gradient(top,rgba(64,53,31,0.99) 15%,rgba(42,39,24,0.99) 58%);
  background-image: -webkit-linear-gradient(top,rgba(64,53,31,0.99) 15%,rgba(42,39,24,0.99) 58%);
  background-image: -ms-linear-gradient(top,rgba(64,53,31,0.99) 15%,rgba(42,39,24,0.99) 58%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.15,rgba(64,53,31,0.99)),color-stop(0.58,rgba(42,39,24,0.99)));
  color: #f0f0f0;
  color: #C1A972;
}
#main-footer input[type="text"],
#main-footer input[type="password"],
#main-footer input[type="email"],
#main-footer input[type="search"],
#main-footer textarea {
  border: 1px solid #635745;
  background-color: #221B10;
  color: #C1A972;
}
#main-footer aside {
  margin: 2em;
}
#main-footer h2 {
  text-align: center;
  font-weight: bold;
  color: #D6B852;
}
#main-footer h3 {
  color: #D6B852;
}
#main-footer a,
#main-footer a:link,
#main-footer a:visited {
  color: #D6B852;
  text-decoration: none;
}
#main-footer a:hover {
  color: #ffffb2;
}
#main-footer .copy {
  color: #6D6855;
  font-size: 0.85em;
  padding-top: 1.5em;
  border-top: 1px solid #635745;
  text-align: center;
}
